body {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
}

/*main styles*/

.right-padding {
	padding-right: 0;
}

.no-padding {
	padding: 0;
}

.max-viewport {
	min-height: 100vh;
}
/*navbar */

/* .navbar {
	border-top: 3px solid #f15025;
	border-bottom: 3px solid #f15025;
} */

.navbar .navbar-title {
	color: #f15025;
}

.navbar {
	/* background-color: #242a33; */
}
.cases-table-container h4 {
	color: #6a5d5d;
	font-weight: 400;
}

.navbar .nav-link,
.navbar .icons {
	color: #687384;
}

.navbar .nav-link:hover,
.navbar .icons:hover {
	color: #fff;
}

.navbar .icon {
	position: relative;
}

.navbar .icon::after {
	content: "";
	position: absolute;
	top: -5px;
	left: 10px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #ef5350;
}

/*sidebar*/

.sidebar {
	/* background-color: #242a33; */
}

.sidebar .nav-link,
.sidebar .navbar-brand {
	color: #687384;
}

.sidebar .nav-link:hover,
.sidebar .navbar-brand:hover {
	color: #fff;
}
.chart {
	margin: 0;
}
#States_div {
	width: 100%;
	min-height: 500px;
}

.country-data {
	margin-top: 20px;
	overflow: scroll;
	/* height: 500px; */
	max-height: 450px;
}

/*inform-card*/

.inform-card .card-1 {
	background-color: #403f4c;
}

.inform-card .card-2 {
	background-color: #efbcd5;
}

.inform-card .card-3 {
	background-color: #f9dc5c;
}

.inform-card .card .body-icon {
	font-size: 60px;
	color: #f15025;
}

.inform-card .card,
.inform-card .card a {
	color: #f15025;
}

.inform-card .card a:hover {
	text-decoration: none;
	color: #fff;
}

.inform-card .card {
	color: #fff;
}

.inform-card .card-footer {
	background: rgba(0, 0, 0, 0.5);
}
/* video  */
.video_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.video_item {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
